<form class="flexcol" autocomplete="off">
  <div class="flexcol content">
    <div class="form-group playlist">
      <label>{{localize "VGMusic.Playlist"}}</label>
      <div class="playlist-box">
        {{#if playlist}}
          <a class="playlist-item" data-action="open-playlist" data-action-target="{{playlist._id}}">
            <i class="fas fa-music"></i>{{playlist.name}}
          </a>
          <div class="control">
            <a class="delete"><i class="fas fa-trash"></i></a>
          </div>
        {{else}}
          <span class="disabled">{{localize "None"}}</span>
        {{/if}}
      </div>
    </div>

    <div class="help">
      <i class="fas fa-info"></i>
      <span>{{localize "VGMusic.ConfigHelp"}}</span>
    </div>
  </div>
</form>
